<div class="card my-5">
  <div class="card-body">
      <form (ngSubmit)="onSubmit()" #accountForm="ngForm">
      <div *ngIf="sourceAccount">
        <div class="static-row mb-5">
          <span><label><b>Transferring from: </b></label> {{sourceAccount.name}}</span>
          <span><label><b>Balance: </b></label> {{sourceAccount.balance}} {{sourceAccount.currency}}</span>
        </div>

        <div class="form-group mb-5">
          <label for="targetAccount"><b>Transferring to: </b></label>
          <select [(ngModel)]="targetAccountId" class="form-control" name="targetAccount" id="targetAccount">
            <option *ngFor="let targetAccount of Accounts;" value="{{targetAccount.id}}">
              {{targetAccount.name}}      {{targetAccount.balance}}{{targetAccount.currency}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="transferAmount"><b>Amount in {{sourceAccount.currency}}: </b></label>
          <input type="number" [min]="1" [max]="sourceAccount.balance" step="any" pattern="^[0-9]\d*(?:\.\d{0,25})?$"
                 [(ngModel)]="amount" class="form-control" id="transferAmount" name="transferAmount"
                 placeholder="Enter amount to be transferred" required #transferAmount="ngModel">
        </div>
        <div [hidden]="!transferAmount.errors" class="alert alert-danger">Invalid input</div>
        <div *ngIf="transferAmount.errors?.max" class="alert alert-danger">Cannot transfer more than on your balance</div>
      </div>

      <br>
      <br>
        <div class="static-row">
          <button (click)="list()" class="btn btn-info">Back to Account List</button>
          <button type="submit" [disabled]="!accountForm.form.valid" class="btn btn-success">Transfer</button>
        </div>
      </form>
  </div>
</div>
