<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Account Name</label>
        <input type="text" class="form-control" id="name" required #name="ngModel" [(ngModel)]="account.name" name="name">
      </div>
      <div [hidden]="!name.errors" class="alert alert-danger">Account name is required</div>


      <div class="form-group">
        <label for="name">Balance</label>
        <input type="number" [min]="0" step="any" pattern="^[0-9]\d*(?:\.\d{0,25})?$" class="form-control"
               id="balance" required #balance="ngModel" [(ngModel)]="account.balance" name="balance">
      </div>
      <div [hidden]="!balance.errors" class="alert alert-danger">Positive numeric balance amount is required</div>


      <div class="form-group">
        <label for="name">Currency</label>
        <select [(ngModel)]="account.currency" class="form-control" required name="currency" id="currency">
          <option *ngFor="let type of Currency.values();">
            {{type}}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
